<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{GENERATED}} - Ephemeral</title>		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://d3js.org/d3.v3.min.js"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"> 		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap"> 	
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div id="container">
		</div>
		<div id="tt" style="display: none">
			<p id="tooltip_text"></p>
		</div>
		<div id="cls">&nbsp;</div>
		<script>

////////////////////////////////////////////////// tooltips

            var tooltip = d3.select('#tt');
            var tt = d3.select('#tt');

            function setTooltip(value) {
				d3.select('#tooltip_text').html(value);
            }

            function createTooltipTriggers() {
                d3.selectAll('.ttt')
                    .on("mouseover", function (d, i) {
                        setTooltip(d3.selectAll('.ttt')[0][i].attributes['data-tt'].value);
                    })
                    .on("mouseout", function () {
                        tt.style('display', 'none');
                    })
					.on("mousemove", function () {
                        if (x <= 0 || y <= 0) {
                            tt.style('display', 'none');
                        } else {
                            tt.style('display', null);
                        }
						console.log(tt.node().getBoundingClientRect());
                        var x = d3.event.pageX - (tt.node().getBoundingClientRect().width / 2);
                        var y = d3.event.pageY - (tt.node().getBoundingClientRect().height + 5);
                        tt.style('left', ~~x + 'px');
                        tt.style('top', ~~y + 'px');

                    });
			}

////////////////////////////////////////////////// charts

            function map(n, a, b, y, z) {
                return (n - a) * (z - y) / (b - a) + y;
			}

			function createLineChart(width, height, element, data, boundary=0) {
                var svg = element
                    .append('svg')
                    .attr('width', width + 'px')
                    .attr('height', height + 'px');

                var start = Math.min(...data.map(a => a.number));
				var end = Math.max(...data.map(a => a.number));

				switch (boundary) {
					case 1:
						var distance = (end - start) * 0.1;
						start -= distance;
						start = Math.max(0, start);
						end += distance;
						break;
					case 2:
						start = 0;
						break;
				}

				var xs = [];
				var ys = [];

				var polygon = "3," + height;

                for (var i = 1; i <= data.length; i++) {
                    var x1 = map(i - 1, 0, data.length - 1, 3, width - 3);
					var y1 = map(data[i - 1].number, start, end, height, 6);
					polygon += ' ' + x1 + ',' + y1;
					xs.push(x1);
					ys.push(y1);
                    if (i < data.length) {
                        var x2 = map(i, 0, data.length - 1, 3, width - 3);
                        var y2 = map(data[i].number, start, end, height, 6);
                        /*svg
                            .append('line')
                            .attr('x1', x1)
                            .attr('y1', y1)
                            .attr('x2', x2)
                            .attr('y2', y2)
                            .style('stroke-width', 2)
                            .style('stroke', '#999');*/
                    }
				}
				//xs.push(width - 3);
				//ys.push(height);
				polygon += ' ' + (width - 3) + ',' + height;
				svg
					.append('polygon')
					.attr('points', polygon)
					.attr('fill', '#eee');

				var line = d3.svg.line()
					.interpolate('cardinal')
					.x(function (d, i) { return xs[i] })
					.y(function (d, i) { return ys[i] });

				svg
					.append('path')
                    .datum(d3.range(data.length).map(function(d, i) { return i }))
					.attr("d", line)
					.attr('fill', 'transparent')
					.attr('stroke-width', 2)
					.attr('stroke', '#999');

                for (var i = 1; i <= data.length; i++) {
                    var x1 = map(i - 1, 0, data.length - 1, 3, width - 3);
                    var y1 = map(data[i - 1].number, start, end, height, 6);
                    var g = svg
                        .append('g')
                        .attr('class', 'group');
                    g
						.append('circle')
						.attr('class', 'highlight')
                        .attr('cx', x1)
                        .attr('cy', y1 - 0.5)
                        .attr('r', 1)
                        .attr('title', data[i - 1].number);
                    g
                        .append('circle')
                        .attr('class', 'ttt')
                        .attr('cx', x1)
                        .attr('cy', y1 - 0.5)
                        .attr('r', 5)
                        .attr('opacity', '0.01')
                        .attr('z-index', 1000)
                        .attr('data-tt', data[i - 1].tooltip);
				}

                svg
                    .append('line')
                    .attr('x1', 3)
                    .attr('y1', height)
                    .attr('x2', width - 3)
                    .attr('y2', height)
                    .style('stroke-width', 1)
                    .style('stroke', '#999');
            }

////////////////////////////////////////////////// page
					
			var inside = 210;
			var padding = 8;
			var length = padding + inside + padding;
			var columns;
			var offsetX;
			var offsetY;
			var filled = [,];
			var low = 0;
			var modules = [];
								
			function random(start, end) {
				return start + Math.floor(Math.random() * (end - start));
			}
			
			function makeBox(width, height) {			
				var startX = 0, startY = 0;
				var hasLocation = false;
				for (var a = 0; a + height < filled.length && !hasLocation; a++) {
					for (var b = 0; b + width <= columns && !hasLocation; b++) {					
						var isValid = true;
						for (var c = 0; c < height && isValid; c++) {
							for (var d = 0; d < width && isValid; d++) {
								if (filled[a + c][b + d] > 0) {
									isValid = false;
								}
							}
						}
						if (isValid) {
							hasLocation = true;							
							startX = b;
							startY = a;
						}						
					}
				}				
				if (hasLocation) {
					for (var c = startY; c < startY + height && isValid; c++) {
						for (var d = startX; d < startX + width && isValid; d++) {
							filled[c][d] = 1;
						}
					}
					low = Math.max(low, offsetY + (startY * length) + ((height * length) - (padding * 2)));				
					return d3
						.select('#container')
						.append('div')
						.attr('class', 'box')
						.style('top', offsetY + startY * length + 'px')
						.style('left', offsetX + startX * length + 'px')						
						.style('width', ((width * length) - (padding * 2)) + 'px')
						.style('height', ((height * length) - (padding * 2)) + 'px');
				}
			}
			
			function createPage() {
				low = 0;
				d3.selectAll('.box').remove();
				var docWidth = document.body.clientWidth;		
				columns = ~~((docWidth - 20) / length);
				columns = Math.min(7, columns);
				offsetX = ((docWidth - (columns * length)) / 2) + 5;				
				offsetY = 100;
				for (var a = 0; a < 50; a++) {
					filled[a] = new Array(columns);
					for (var b = 0; b < columns; b++) {
						filled[a][b] = 0;
					}
				}
				for (var func of modules) {
					func();
				}
				d3
					.select('#cls')
					.style('top', (low) + 'px')
					.style('height', ((padding * 2) + offsetY) + 'px');
				createTooltipTriggers();
			}
			
			d3.select(window).on('resize', createPage);

////////////////////////////////////////////////// boxes
			
{{ADDITIONS}}

			createPage();

		</script>
	</body>
</html>